version: "3.9"

services:
  app:
    build: .
    container_name: servidor
    ports:
      - "9000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: clave
      POSTGRES_DB: ejemplo
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
